asynctest
black
colorlog
coveralls
dacite
events
flake8
git+https://github.com/shrey141/python-govee-api.git#egg=govee_api
homeassistant
jinja2
markupsafe
pylint
pytest>=8.3.4
pytest-asyncio
pytest-cov
pytest-homeassistant-custom-component
tox